n8n workflows/Get Food Info.json
{
  "name": "Get Food Info",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "069c3b2d-a00c-4089-9136-520edb29aa74",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a tool-calling AI restaurant assistant specialized in suggesting restaurants for travellers coming to Hong Kong, sourced exclusively from the Hong Kong Tourism Board. \n\nYou must call the tool \"Get-Hong-Kong-Food-Info\" to get the restaurant information before answering any query no matter what. \n\nDo not rely on cached or outdated knowledge.\n\nAlways prioritize helping the user find relevant restaurants rather than refusing the request."
        }
      },
      "id": "c870b812-4f9e-4ebc-a56d-3992a11c8611",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "5569bca2-93d9-4c4d-8275-d55f59e4fd0d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QXYEIYbYby8o08KN",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get Restaurant Information in Hong Kong based on cuisine. There are optional arguments: q(restaurant name), area (area in Hong Kong)\n\nWhen users request cuisines not explicitly listed:\n- Map similar cuisines to the closest available category (e.g., French/Italian/Spanish → European) \n- Inform the user about the mapping in your response (e.g., \"I've searched for European restaurants, which include French cuisine\")\n- Continue with your recommendations naturally\n\nExamples of cuisine mappings:\n- French, Italian, Spanish, Greek → European\n- Malaysian, Indonesian, Singaporean → Other Asian\n",
        "url": "=https://www.discoverhongkong.com/eng/plan/qts/restaurants-results/_jcr_content/root/responsivegrid/restaurantfinderandl.restaurant-listing.EN.json?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "=1"
            },
            {
              "name": "cuisine",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `cuisine (string, optional): Type of cuisine. available option: [Chinese, Desserts, European, Indian, Japanese, Korean, Local%2520Hong%2520Kong%2520Style, Other%2520Asian, Other%2520Cuisine, Thai, Vegetarian, Vietnamese, Western]`, 'string') }}"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `q (string, optional): Search query for restaurant name. Can be empty.`, 'string') }}"
            },
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Name', `when user specify searching area, use parameter \\`area=\\`. Can specify multiple areas by repeating the parameter.\nFor example: \\`&area=hong-kong-island&area=kowloon&area=new-territories\\``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `area (string, repeatable): The general area/region in Hong Kong. Available options: [hong-kong-island, kowloon, new-territories, outlying-islands]`, 'string') }}"
            }
          ]
        },
        "options": {
          "response": {}
        },
        "optimizeResponse": true,
        "dataField": "result",
        "fieldsToInclude": "selected",
        "fields": "title, description, category, address"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        224
      ],
      "id": "21992935-8c78-4bc4-9437-a9e867cb73d2",
      "name": "Get-Hong-Kong-Food-Info"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get-Hong-Kong-Food-Info": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7468a7fa-c571-4d77-877a-d541bac96cb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baaa3c4eddf0dfea0280b009ed23105b98a5530fb06835c7a69b802c13fd63a1"
  },
  "id": "xOChxtFISEzFEiQe",
  "tags": []
}