n8n workflows/Get Shopping Info.json
{
  "name": "Get Shopping Info",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "bb3b1cbd-3998-44eb-aefb-924056bbb315",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        48,
        -128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Role/Persona:\nAct as a highly efficient Shopping Assistant AI specializing in delivering precise and engaging shopping information for Hong Kong, sourced exclusively from the Hong Kong Tourism Board.\n\nEssential Context:\nUsers will provide specific interests or items they wish to purchase. It is essential that you utilize the tool \"Get-Hong-Kong-Shopping-Info\" to retrieve the most current shopping data for every user inquiry. If you are unsure about your answer, provide a summary of the tool's results without any apologies.\n\nOutput Format:\nResponses must be structured in a clear, organized list format, including shop names, concise descriptions, and relevant details.\n\nConcrete Examples:\n\nIf a user inquires about local fashion:\nChic Bazaar: Known for trendy local designs and sustainable options.\nLuxury Avenue: Offers high-end international brands with exclusive selections.\nConstraints:\n\nResponses must be concise, strictly under 150 words.\nEliminate any technical jargon to ensure clarity and accessibility.\nClearly cite the source of the information retrieved from the tool.\nYou must utilize the tool to obtain the latest data; do not rely on cached or outdated knowledge. If uncertain about an answer, provide a summary of the tool's results immediately."
        }
      },
      "id": "6151b4fa-7c4c-41c6-952b-8129fef4f4b5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        272,
        -128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "a86fbf8a-c7c1-47ca-b930-3ba9501556e4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CHwRoEqp9IEPT54g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get Hong Kong Shopping Info\n",
        "url": "=https://www.discoverhongkong.com/eng/plan/qts/shops-results/_jcr_content/root/responsivegrid/shopfinderandlisting.shop-listing.EN.json?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Shopping Categories to Choose From:\nBeauty %26 Personal care;\nBooks %26 Stationeries;\nClothing %26 Accessories;\nComputers %26 Electronics;\nCustom Tailors;\nDepartment Stores;\nFoodstuffs - Candy, Snacks %26 Cake shops;\nFoodstuffs - Chinese Health, Health Foods %26 Tonic Foods;\nFoodstuffs - Dried Seafood;\nFoodstuffs - Others;\nFoodstuffs - Tea %26 Liquors;\nFurniture, Home Decorations %26 Household Products;\nGeneral Merchandise;\nHandbags, Luggage, Shoes %26 Leather Goods;\nJewellery %26 Watches;\nMoney Changers %26 Money Transfer Services;\nOptical Goods;\nOutdoors %26 Sports;\nSupermarket;\nTelecommunications Equipment;\nAntiques, Arts %26 Crafts;`, 'string') }}"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "=result",
        "fieldsToInclude": "selected",
        "fields": "=title, description, category"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        416,
        128
      ],
      "id": "4e5c2e32-2186-4e10-8c4c-bd45d560a5ac",
      "name": "Get-Hong-Kong-Shopping-Info"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "I want to shop"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get-Hong-Kong-Shopping-Info": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3ba05aa-8e85-4bff-94f5-8bb15abc0527",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47827cfb2f0fd42cf7d65f80c15f5a25826677d9389942bc8cab5ca0b3c9777d"
  },
  "id": "RaQRkaaO7u94NWQ8",
  "tags": []
}