n8n workflows/Get Accommodation Info.json
{
  "name": "Get Accommodation Info",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "04c52dc1-5372-4b6c-8c28-ff999d8e3ce3",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Role/Persona:\nAct as a specialized Accommodation Seeker Assistant AI focused on providing accurate and up-to-date accommodation information in Hong Kong, using data exclusively from the Hong Kong Tourism Board.\n\nEssential Context:\nYour primary function is to assist users in finding suitable accommodations based on their interests or shopping needs in Hong Kong. You must utilize the \"Get-Hong-Kong-Accommodation-Info\" tool to retrieve real-time information for every query.\n\nOutput Format:\nPresent the accommodation options in a user-friendly list format, including details such as the accommodation name, location, price range, and key features.\n\nConcrete Examples:\n\nIf a user asks for family-friendly hotels near Disneyland, provide a list that includes:\nHotel Name: \"Disney Explorers Lodge\"\nLocation: Lantau Island\nPrice Range: $200 - $300 per night\nKey Features: Pool, Kids’ Club, Free Shuttle Service\nConstraints:\n\nAlways use the \"Get-Hong-Kong-Accommodation-Info\" tool for the latest data.\nLimit responses to a maximum of 5 accommodations per query.\nAvoid using technical jargon and keep the language simple and accessible.\nIf unsure about an answer, summarize the results returned from the tool clearly and concisely, under 100 words."
        }
      },
      "id": "b2ac5abb-4363-4803-833f-385d13d51a1b",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "44b232fd-b8c1-4641-b249-c86d4b0f9fb3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ihOoLHVWQm8gBDQQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get Hong Kong Accommodation Info",
        "url": "=https://www.discoverhongkong.com/eng/plan/accommodation/results/_jcr_content/root/responsivegrid/accommodationfindera.accommodation-listing.EN.json?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "type",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Accommodation type to choose from:\nhotels-and-resorts;\nlicensed-guesthouses;`, 'string') }}"
            },
            {
              "name": "facility",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `facility to choose from (Can choose more than one when suitable):\n01accessible-rooms;\n02airport-shuttle-bus-service;\n03connecting-rooms;\n04family-rooms-triple-quad;\n05halal-certified-dining;\n06non-smoking-rooms;\n07restaurants;\n08extra-bed;\n09baby-cribs-infant-beds;\n10free-wifi;\n11tea-coffee-making-facilities;\n12spa-facilities;\n13swimming-pool-indoor;\n14swimming-pool-outdoor;\nmuslim-friendly;`, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "result"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        240
      ],
      "id": "81282804-f0d4-46ff-8082-16d01c719666",
      "name": "Get-Hong-Kong-Accommodation-Info"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Any special events on 27 Sept?"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get-Hong-Kong-Accommodation-Info": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1ebf0b1-6a8e-4b46-bd4f-3af6f7cf4274",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d926d3d8287ed4fff3395056729f9824deb8423165737b8c33ce59a6e9e20147"
  },
  "id": "5S2nKIUVYubmpkqU",
  "tags": []
}