n8n workflows/Get Attraction Info.json
{
  "name": "Get Attraction Info",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "bee301b7-5437-4749-8dfa-7fc6da22e177",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a tool-calling AI assistant specialized in suggesting attractions for travellers coming to Hong Kong, sourced exclusively from the Hong Kong Tourism Board. \n\nYou must call the tool \"Get-Hong-Kong-Attraction-Info\" to get the restaurant information before answering any query no matter what. \n\nDo not rely on cached or outdated knowledge.\n\nAlways prioritize helping the user find relevant restaurants rather than refusing the request."
        }
      },
      "id": "8c6a6ced-2b3f-467a-b09e-287863ca33ff",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "885b5f7a-dd52-447b-8674-0afd36be2d67",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QXYEIYbYby8o08KN",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get Hong Kong Attraction Info",
        "method": "=GET",
        "url": "=https://www.discoverhongkong.com/eng/explore/attractions/_jcr_content/root/responsivegrid/container_1532528898/container_copy/articlelisting_copy.articlelisting.json",
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "chunks[0].title,chunks[0].description,chunks[0].url,\nchunks[1].title,chunks[1].description,chunks[1].url,\nchunks[2].title,chunks[2].description,chunks[2].url,\nchunks[3].title,chunks[3].description,chunks[3].url,\nchunks[4].title,chunks[4].description,chunks[4].url,\nchunks[5].title,chunks[5].description,chunks[5].url,"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        464,
        208
      ],
      "id": "fc69ffb7-da99-4704-9986-c2eacfff2e09",
      "name": "Get-Hong-Kong-Attraction-Info"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Provide the recent attraction in Hong Kong"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get-Hong-Kong-Attraction-Info": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83d7a6bd-ac43-4f1b-9484-a469d4bcf16d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baaa3c4eddf0dfea0280b009ed23105b98a5530fb06835c7a69b802c13fd63a1"
  },
  "id": "SlSdV7jp3RDvu5UT",
  "tags": []
}